// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Manjari&display=swap");

@import '~vuetify/dist/vuetify.min.css';

.font{
    font-family: 'Manjari', sans-serif;
}
.text-ticket{
    font-size: 20
}